In [1]:
import pandas as pd

In [21]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
path = "../data/M5_full.parquet"

df = pd.read_parquet(path)

In [4]:
df.head(10)

,id,item_id,dept_id,cat_id,store_id,state_id,value,date
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
5,HOBBIES_1_006_CA_1_evaluation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
6,HOBBIES_1_007_CA_1_evaluation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
7,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,12,2011-01-29
8,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29
9,HOBBIES_1_010_CA_1_evaluation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29

In [5]:
# Olhando infos básicas

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59181090 entries, 0 to 59181089
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   id        category
 1   item_id   category
 2   dept_id   category
 3   cat_id    category
 4   store_id  category
 5   state_id  category
 6   value     int16
 7   date      object
dtypes: category(6), int16(1), object(1)
memory usage: 1017.2+ MB

In [7]:
df['date'].min()

'2011-01-29'

In [8]:
df['date'].max()

'2016-05-22'

In [9]:
df.shape

(59181090, 8)

In [10]:
df['item_id'].nunique()

3049

In [ ]:
df['item_id'].value_counts()

In [11]:
df['dept_id'].unique()

['HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2', 'FOODS_1', 'FOODS_2', 'FOODS_3']
Categories (7, object): ['FOODS_1', 'FOODS_2', 'FOODS_3', 'HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2']

In [12]:
df['cat_id'].unique()

['HOBBIES', 'HOUSEHOLD', 'FOODS']
Categories (3, object): ['FOODS', 'HOBBIES', 'HOUSEHOLD']

In [13]:
df['store_id'].unique()

['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1', 'WI_2', 'WI_3']
Categories (10, object): ['CA_1', 'CA_2', 'CA_3', 'CA_4', ..., 'TX_3', 'WI_1', 'WI_2', 'WI_3']

In [14]:
df['state_id'].unique()

['CA', 'TX', 'WI']
Categories (3, object): ['CA', 'TX', 'WI']

In [15]:
df['value'].nunique()

419

In [16]:
# Agrupando a base por mês (ela tá por dia)

In [17]:
df['date'] = pd.to_datetime(df['date'])

In [31]:
df['year_month'] = df['date'].dt.to_period('M')

grouped_df = df.groupby(['item_id', 'year_month']).agg({
    'value': 'sum',
    'id': 'first',
    'dept_id': 'first',
    'cat_id': 'first',
    'store_id': 'first',
    'state_id': 'first'
}).reset_index()

grouped_df['year_month'] = grouped_df['year_month'].dt.to_timestamp()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9008\594538774.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_df = df.groupby(['item_id', 'year_month']).agg({

In [32]:
grouped_df.head(10)

,item_id,year_month,value,id,dept_id,cat_id,store_id,state_id
0,FOODS_1_001,2011-01-01,16,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
1,FOODS_1_001,2011-02-01,304,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
2,FOODS_1_001,2011-03-01,309,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
3,FOODS_1_001,2011-04-01,279,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
4,FOODS_1_001,2011-05-01,365,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
5,FOODS_1_001,2011-06-01,301,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
6,FOODS_1_001,2011-07-01,280,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
7,FOODS_1_001,2011-08-01,37,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
8,FOODS_1_001,2011-09-01,0,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA
9,FOODS_1_001,2011-10-01,2,FOODS_1_001_CA_1_evaluation,FOODS_1,FOODS,CA_1,CA

In [33]:
grouped_df['item_id'].nunique()

3049