In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import numpy as np
import os

In [2]:
path = '../data/M5_full.parquet'

df = pd.read_parquet(path)

FileNotFoundError: [Errno 2] No such file or directory: '../data/M5_full.parquet'

In [ ]:
df.head(5)

,id,item_id,dept_id,cat_id,store_id,state_id,value,date
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['year_month'] = df['date'].dt.to_period('M')

### Fazendo série base (Receita mensal)

In [ ]:
def make_total_income_series(df):
    df_total_income = df[['value', 'year_month']]
    df_total_income = df_total_income.groupby(['year_month'])['value'].sum().reset_index()

    output_dir = '../data'

    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
        
    file_name = 'total_income_series.parquet'
    file_path = os.path.join(output_dir, file_name)

    table = pa.Table.from_pandas(df_total_income)
    pq.write_table(table, file_path)

In [ ]:
make_total_income_series(df)

In [ ]:
path_income = '../data/total_income_series.parquet'

df_income = pd.read_parquet(path_income)

In [ ]:
df_income.head()

  year_month   value
0    2011-01   88163
1    2011-02  726375
2    2011-03  763567
3    2011-04  737713
4    2011-05  719562

### Fazendo série dos estados

In [ ]:
def make_state_income_series(df):
    df_state_income = df[['state_id', 'value', 'year_month']]
    df_state_income = df_state_income.groupby(['state_id', 'year_month'])['value'].sum().reset_index()

    output_dir = '../data'

    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
        
    file_name = 'state_income_series.parquet'
    file_path = os.path.join(output_dir, file_name)

    table = pa.Table.from_pandas(df_state_income)
    pq.write_table(table, file_path)

In [ ]:
make_state_income_series(df)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7728\1204820957.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_state_income = df_state_income.groupby(['state_id', 'year_month'])['value'].sum().reset_index()

In [ ]:
path_state_income = '../data/state_income_series.parquet'

df_state_income = pd.read_parquet(path_state_income)

In [ ]:
df_state_income.head()

  state_id year_month   value
0       CA    2011-01   38108
1       CA    2011-02  318101
2       CA    2011-03  339678
3       CA    2011-04  331004
4       CA    2011-05  321566

### Fazendo série das lojas

In [ ]:
def make_store_income_series(df):
    df_store_income = df[['store_id', 'value', 'year_month']]
    df_store_income = df_store_income.groupby(['store_id', 'year_month'])['value'].sum().reset_index()

    output_dir = '../data'

    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
        
    file_name = 'store_income_series.parquet'
    file_path = os.path.join(output_dir, file_name)

    table = pa.Table.from_pandas(df_store_income)
    pq.write_table(table, file_path)

In [ ]:
make_store_income_series(df)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7728\3766606826.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_store_income = df_store_income.groupby(['store_id', 'year_month'])['value'].sum().reset_index()

In [ ]:
path_store_income = '../data/store_income_series.parquet'

df_store_income = pd.read_parquet(path_store_income)

In [ ]:
df_store_income.head()

  store_id year_month  value
0     CA_1    2011-01  11308
1     CA_1    2011-02  89434
2     CA_1    2011-03  93468
3     CA_1    2011-04  91553
4     CA_1    2011-05  87988

### Fazendo série das categorias

In [ ]:
def make_category_income_series(df):
    df_category_income = df[['cat_id', 'value', 'year_month']]
    df_category_income = df_category_income.groupby(['cat_id', 'year_month'])['value'].sum().reset_index()

    output_dir = '../data'

    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
        
    file_name = 'category_income_series.parquet'
    file_path = os.path.join(output_dir, file_name)

    table = pa.Table.from_pandas(df_category_income)
    pq.write_table(table, file_path)

In [ ]:
make_category_income_series(df)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7728\2909717620.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_category_income = df_category_income.groupby(['cat_id', 'year_month'])['value'].sum().reset_index()

In [ ]:
path_category_income = '../data/category_income_series.parquet'

df_category_income = pd.read_parquet(path_category_income)

In [ ]:
df_category_income.head()

  cat_id year_month   value
0  FOODS    2011-01   63110
1  FOODS    2011-02  520250
2  FOODS    2011-03  534914
3  FOODS    2011-04  509568
4  FOODS    2011-05  491753